// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-comment{
	display: none;
}
.content-comment{
	float: left;
	clear: both;	
}
.posted-time{
    margin-top: 15px;
	float: right;
}
#comment_content{
    padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
.submit-comment{
    width: 80px !important;
	margin-bottom: 0 !important;
}