// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-comment{
	display: none;
}
.content-comment{
	float: left;
	clear: both;	
}
.posted-time{
    margin-top: 15px;
	float: right;
}