.panel-body .entry-content{
	padding-left: 0;
}

.new_comment{
	height:110px !important;
}
.entry{
	padding-left: 30px !important;
	padding-right: 30px !important;
}
.entry-body{
	font-size: 16px !important;
}
.post-entry{
	width: 80px !important;
}
.delete-entry{
	padding-top: 22px;
	padding-left: 40px;
}